.head {
  margin-top: 4.25pc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3pc;
}

.set {
  display: flex;
  justify-content: space-between;
  margin-top: 3pc;
  margin-bottom: -4pc;
}

.row-span-3,
.col-span-2,
.row-span-2 {
  margin-right: 3pc;
}


.set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


@media (max-width: 920px) {
  .set {
    grid-template-columns: 1fr;

  }
}